<footer>
    <span class="libraryName">The Mybrary Library</span>
    <span>
        <a href="https://www.YouTube.com" target="_blank">
            <img src="YouTube Logo.png" alt="">
        </a>
        <a href="https://www.spotify.com" target="_blank">
            <img src="Spotify Logo.png" alt="">
        </a>
        <a href="https://www.facebook.com" target="_blank">
            <img src="Facebook Logo.png" alt="">
        </a>
    </span>
</footer>