<header>
    <h1 class="libraryName large">Mybrary</h1>
    <nav>
        <table>
            <th><a href="/">HOME</a></th>
            <th><a href="/book/AddBook">ADD BOOK</a></th>
            <th><a href="/book/SearchBook">SEARCH BOOK</a></th>
            <th><a href="/author/AddAuthor">ADD AUTHOR</a></th>
            <th><a href="/author/SearchAuthor">SEARCH AUTHORS</a></th>
        </table>
    </nav>
</header>