<section>
    <form action="/author/SearchAuthor" method="get">
        <label for="name" class="labelName">Name:</label><br>
        <input type="text" id="name" name="name" value="<%= searchOptions.name %>"><br>
        <div>
            <button type="button" class="button" ><a href="Home.html">Cancel</a></button>
            <button type="submit" class="button" >Submit</button>
        </div>
    </form>
    <br>
    <% authors.forEach(author=>{ %> 
        <div><%= author.name  %> </div>          
    <% }) %> 
    <!-- <div class='nameList' >
        <h3>Authors's Name</h3>
        <ol>
            <li>John Doe</li>
            <li>Bob Williams</li>
            <li>Lorem, ipsum. </li>
            <li>Lorem.</li>
        </ol>
    </div> -->
</section>