<h1>Welcome to the Library of Books</h1>
<h2>Recent Uploads</h2>
<ol class='flex'>
    <% books.forEach(book => { %>
        <li class='nameList'>
            <img src="<%= book.coverImagePath() %>" alt=" <%= book.title %> Cover Image">
            <div><%= book.title %> </div>
        </li>
    <% }) %>
</ol>